@import url("https://fonts.googleapis.com/css?family=Anton");

h1{
  color:red;
  background-color:yellow;
  border:10px solid blue;
  font-family: 'Anton', sans-serif;
}
body{
  background:url("https://i.ytimg.com/vi/u-_z-9t8Nhw/maxresdefault.jpg") ;
}
h3{
  color:yellow;

}
